#game td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 120
}
.X {background-color: grey}
.O {background-color: grey}
.win { background-color: red }

.medium-size {
    width: 495px;
    height:40px;
    background-color: grey;
    font-size: 20px;
}
.form{
    width: 248px;
    height:40px;
    background-color: grey;
    font-size: 30px;
}
